<h1>Everything You Have</h1>

<% if flash[:error_message] %>
<% flash[:error_message].each do |error| %>
    <p><%= error %></p>
<% end %>
<% end %>

<%# <h4>Search for Ingredient</h4>
<%= form_tag(ingredients_path, method: :get) do%>
    <%# <%= text_field_tag(:search, params[:search])%>
    <%# <%= submit_tag ("Search") %>
<%# <% end %>
<%# <br /> %> 

<%= form_for @ingredient do |f| %>
    <%= f.label :name, "New Ingredient" %>
    <%= f.text_field :name %>

    <%= f.label :quantity, "How Many" %>
    <%= f.text_field :quantity %>

    <%= f.submit %>
<% end %>


<ul>

  <% @ingredients.each do |ingredient| %>
    <li>
      <%= link_to ingredient.name, ingredient %>
      <br>
    </li>
  <% end %>
</ul>



<%= link_to "Home", user_path(@user) %>

