<h1><%= @ingredient.name %></h1>
Quantity:
<h4><%= @ingredient.quantity %></h4>

<%= form_for @ingredient do |f| %>

    <%= f.label :quantity, "Update Quantity" %>
    <%= f.number_field :quantity %>

    <%= f.submit %>
<% end %>