<!DOCTYPE html>
<html>
  <head>
    <title>PhaseTwo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class='clearfix'>
  <div class="left-nav">
    <ul>
      <li><%= link_to "Home", user_path %></li>
    </ul>
  </div>
  <div class="center-nav1">
    <ul>
      <li><%= link_to "Pantries", pantries_path %></li>
    </ul>
  </div>
   <div class="center-nav2">
    <ul>
      <li><%= link_to "Shopping List", shopping_lists_path %></li>
    </ul>
  </div>
  <div class="right-nav">
    <ul>
      <li><%= link_to "Ingredients", ingredients_path %></li>
    </ul>
  </div>
</header>

  <div class='content'>
    <%= yield %>
  </div>
</html>
